<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <ExcludeByFile>**/Program.cs,**/Pages/Error.cshtml.cs,**/Pages/Confirmation.cshtml.cs,**/Pages/*.cshtml,**/obj/**,**/bin/**,**/BuildingBlocks/**</ExcludeByFile>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>